

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
    background-color: white;
    opacity: 0.9;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.overlay a {
  text-decoration: none;
  font-size: 36px;
  color: red;
  display: block;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#cursorpointer:hover {
    color: blue;
    cursor: pointer;
}

.button-custom {
  background-color: white;
  outline-style: solid;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 20px;
  }
}
